@import "tailwindcss";
@plugin "daisyui";

html, body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}


@plugin "daisyui/theme" {
  name: "pulse";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(93% 0.032 17.717);
  --color-base-200: oklch(88% 0.062 18.334);
  --color-base-300: oklch(80% 0.114 19.571);
  --color-base-content: oklch(44% 0.177 26.899);
  --color-primary: oklch(57% 0.245 27.325);
  --color-primary-content: oklch(93% 0.032 17.717);
  --color-secondary: oklch(80% 0.114 19.571);
  --color-secondary-content: oklch(44% 0.177 26.899);
  --color-accent: oklch(90% 0.076 70.697);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(86% 0.005 56.366);
  --color-neutral-content: oklch(25% 0.092 26.042);
  --color-info: oklch(97% 0.013 17.38);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(92% 0.084 155.995);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "pulsedark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(39% 0.141 25.723);
  --color-base-200: oklch(44% 0.177 26.899);
  --color-base-300: oklch(50% 0.213 27.518);
  --color-base-content: oklch(88% 0.062 18.334);
  --color-primary: oklch(80% 0.114 19.571);
  --color-primary-content: oklch(39% 0.141 25.723);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(40% 0.123 38.172);
  --color-neutral-content: oklch(95% 0.038 75.164);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}
